// import here
@use "../../costumize" as *;
@use "../../components/mixins" as *;

// modal content section
.dashboard-modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    z-index: 1020 !important;
    height: 100vh;

    .modal {
        background-color: rgba($black, 0.6) !important;
        
        .modal-title {
            font-size: 1.1em;
        }

        .modal-body {
            font-size: 1em;
        }
    }
}