// import here
@use "../costumize" as *;
@use "../components/mixins" as *;

// font families
.open-sans { font-family: 'Open Sans', sans-serif; }
.kaushan-script { font-family: 'Kaushan Script', cursive; }
.roboto { font-family: 'Roboto', sans-serif; }

// trigger classes
.active { color: $dark-coffee !important; }

// button
button { border-radius: 2px; }

// visibility
.remove { display: none !important; }

// RATE CSS
.excellent { background-color: $purple !important; }
.well-done { background-color: $green !important; }
.good { background-color: $blue !important; }
.its-ok { background-color: $gray-700 !important; }
.poor{ background-color: $red !important; }