// import here
@use "../costumize" as *;
@use "../components/mixins" as *;

// font families
.open-sans { font-family: 'Open Sans', sans-serif; }
.kaushan-script { font-family: 'Kaushan Script', cursive; }
.roboto { font-family: 'Roboto', sans-serif; }

// trigger classes
.active { color: $dark-coffee !important; }

// button
button { border-radius: 2px; }

// visibility
.remove { display: none !important; }