// import here
@use "../../costumize" as *;
@use "../../components/mixins" as *;

// restaurant section
@include jump;
.rsp {
    background-image: $light-gradient-y !important;

    object {
        width: $obj-md-size;
        animation: jump 1s linear infinite alternate !important;
    }

    h2 { text-shadow: 1px 1px 2px $gray-500; }
    h4 { font-weight: 600; }
    p { text-align: justify; }
    &-template { border-top: 1px solid $gray-600; }

    main {
        p { font-size: 0.9em; }
    }

    section {
        h4 { font-size: 1em; }
        p { font-size: 0.8em; }
        @include media-breakpoint-down(lg) { display: none !important; }
    }
}

.restaurant {
    background-image: $light-gradient-y !important;

    object {
        width: $obj-md-size;
        animation: jump 1s linear infinite alternate !important;
    }

    h2 { text-shadow: 1px 1px 2px $gray-500; }

    .restaurant-item {
        height: 200px !important;
        position: relative;
        overflow: hidden;
        border: none !important;

        img { 
            object-fit: cover; 
            opacity: 0.65;
            border-radius: 2px;
            cursor: pointer;
            @include transition-to-all-25;
        }

        .card-body {
            position: absolute;
            bottom: 0; left: 0;
            background-color: $gray-900; 

            .card-title { font-size: 0.9em; }
            .card-text { font-size: 0.8em; }

            .card-title, .card-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &:hover { img { opacity: 1; } }
        &:active { img { opacity: 0.8; } }
    }

    .details {
        height: fit-content;
        border-top: 1px solid $gray-600;

        img {
            object-fit: cover; 
            height: 250px;
            border-radius: 4px;
        }

        h3 { text-shadow: 1px 1px 2px $gray-500; color: $dark; }
        h4 { font-size: 1.15em; color: $gray-700 !important; }
        h5 { font-size: 1em; color: $gray-700 !important; }

        p {
            font-size: 0.9em;
            text-align: justify;
        }

        .next {
            height: 150px;

            img { 
                width: 125px !important;
                height: 100% !important; 
                float: left; }

            .col-lg-6 {
                border-radius: none;
                text-decoration: none;
                border-bottom: 0.5em solid rgba($gray-900, 0);
                @include transition-to-all-25;
                cursor: pointer;

                .node { text-decoration: none; }
                
                &:hover { border-bottom: 0.5em solid rgba($gray-900, 0.75) !important; }
                &:active { border-bottom: 0.15em solid rgba($gray-900, 0.5) !important; }
            }
        }
    }
}