<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>48 Coffee Shop</title>

    <!-- Google Fonts Connect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- List of Font Families -->
    <!-- 'Open Sans', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- 'Kaushan Script', cursive -->
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <!-- 'Roboto', sans-serif -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css" media="screen">

    <!-- JS Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><!-- JQuery CDN -->
    <script src="../js/pages/queue.js"></script><!-- Queue Page -->
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-2 sticky-top">
        <div class="container">

            <!-- Navbar Brand -->
            <a class="navbar-brand kaushan-script" href="#">48 Coffee</a>

            <!-- Navbar Nav -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end">
                <li class="nav-item"><a class="nav-link open-sans ms-2" aria-current="page" href="#">
                    Home
                </a></li>
                <li class="nav-item"><a class="nav-link open-sans ms-2" href="./drinks.html">
                    Drinks
                </a></li>
                <li class="nav-item"><a class="nav-link open-sans ms-2 active" href="./costumers.html">
                    Queue
                </a></li>
                <li class="nav-item"><a class="nav-link open-sans ms-2" href="./about.html">
                    About Us
                </a></li>
                <li class="nav-item login"><a class="nav-link open-sans ms-2" href="#">
                    <strong>Login</strong>
                </a></li>
            </ul>
        </div>
    </nav>

    <!-- Queue Header -->
    <div class="queue-header container text-center">
        <object class="my-5" data="../svg/waiting.svg"></object>
        <h1 class="kaushan-script text-primary">Queue</h1>
        <p class="mb-5">Your order is pending. Please wait for a while until your order is deliver.</p>
        <button class="open-sans btn btn-primary shadow-none" data-nav="table-1">Check your Line</button>
    </div>
    
    <!-- Queue Collection -->
    <div class="queue-collection container text-center my-5 pt-5">
        <div class="row">
            <div class="col-3 p-3">
                <div class="card" id="table-1">
                    <img class="card-img-top w-100" src="../images/items/jpg/notes.jpg" alt="...">
                    <div class="cover w-100 h-100"></div>
                    <div class="card-body text-start w-100 h-100">
                        <h5 class="card-title roboto mb-2">T1 Username</h5>
                        <div class="w-100 h-75 mt-3 p-0">
                            <table class="m-0 p-0 w-100">
                                <tr class="row m-0 p-0">
                                    <th class="col-2 m-0 p-0 open-sans">Pcs</th>
                                    <th class="col-5 m-0 p-0 open-sans">Name</th>
                                    <th class="col-5 m-0 p-0 open-sans text-end">Amount</th>
                                </tr>
                                
                                <tr class="row m-0 p-0">
                                    <td class="col-2 m-0 p-0 open-sans">1</td>
                                    <td class="col-5 m-0 p-0 open-sans">coffee_name</td>
                                    <td class="col-5 m-0 p-0 open-sans text-end">$1000</td>
                                </tr>
                                <tr class="row m-0 p-0">
                                    <td class="col-2 m-0 p-0 open-sans">1</td>
                                    <td class="col-5 m-0 p-0 open-sans">coffee_name</td>
                                    <td class="col-5 m-0 p-0 open-sans text-end">$1000</td>
                                </tr>
                                <tr class="row m-0 p-0">
                                    <td class="col-2 m-0 p-0 open-sans">1</td>
                                    <td class="col-5 m-0 p-0 open-sans">coffee_name</td>
                                    <td class="col-5 m-0 p-0 open-sans text-end">$1000</td>
                                </tr>
                                
                                <tr class="row m-0 p-0 mt-4">
                                    <td class="col-2 m-0 p-0 open-sans"></td>
                                    <td class="col-5 m-0 p-0 open-sans"><strong>Total</strong></td>
                                    <td class="col-5 m-0 p-0 open-sans text-end"><strong>$1000</strong></td>
                                </tr>
                            </table>
                        </div>
                        <a href="#" class="btn btn-primary px-4 py-1 shadow-none m-3">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>